<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>That Travel Blogger</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <link rel="stylesheet" href="/<%= stylesheet %>" type="text/css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Chewy&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <a href="/"><button>Home</button></a>
      <a href="/articles"><button>Articles</button></a>
      <a href="/planning-tips"><button>Planning Tips</button></a>
      <a href="/destination-guides"><button>Destination guides</button></a>
    </nav>

    <header>
      <img
        id="title-image"
        src="/images/website-images/that-travel-blogger-title-image-transparent-crop.png"
        alt=""
      />
    </header>
    <main>

      