<section id="trip-tips">
  <h2>Planning A Trip?</h2>
  <p>
    Check out our planning tips to ensure your trip is a once in a lifetime
    experience!
  </p>
  <a href="/planning-tips"><button id="trip-tips-btn">Planning Tips</button></a>
</section>
