/* Universal Styles */

html,
body {
  max-width: 105%;
  overflow-x: hidden;
  margin-left: -1px;
  margin-top: -5px;
}

body {
  width: 100%;
  background-color: whitesmoke;
}

main {
  margin: 15px auto;
}

p {
  padding-top: 0;
  margin-top: 0;
  font-weight: 600;
}

/* Header Section */

#backgrd-img {
  background-image: linear-gradient(180deg, transparent 0%, whitesmoke 99%),
    url(assets/images/mountains-hero-banner-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -7.5px;
}

header {
  display: flex;
  margin: -7.5px;
  height: 20rem;
}

#site-header {
  width: fit-content;
  display: flex;
}

#logo {
  margin-left: 50px;
  height: 200px;
  width: 200px;
}

nav {
  margin-top: 20px;
  padding-right: 75px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -300px;
}

button {
  background-color: #b0d2a2;
  padding: 10px;
  margin-right: 12px;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 600;
  border-radius: 3px;
}

#title {
  padding-top: 60px;
  width: 500px;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 700;
}

#hero {
  width: 75%;
  display: flex;
  margin: 15px auto;
  font-family: "Edu NSW ACT Cursive", cursive;
  padding: 10px;
  position: relative;
}

.hero-image {
  height: 500px;
  width: auto;
}

/* Blogpost Article Section */

#articles {
  position: static;
}

.blog-post-container {
  width: 90%;
  min-height: fit-content;
  margin: auto;
  padding: 10px;
  /*  CSS Grid  */
  display: grid;
  grid-template: 1fr 1fr 1fr / repeat(6, 1fr);
  gap: 10px;
}

.blog-card {
  font-family: "Chewy", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
  box-shadow: 3px 4px black;
  max-height: 350px;
  border: solid black 0.2px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  overflow: hidden;
}

.blog-card:hover {
  transform: translateY(3px);
  transform: translateX(4px);
  box-shadow: none;
}

.blog-card > img {
  max-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

.article-title {
  position: absolute;
  z-index: 1;
  padding: 5px;
}

.article-title h3 {
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: xx-large;
}

.article-title p {
  margin-bottom: 0;
}

.card-1 {
  grid-area: 1 / 1 / 2 / span 4;
}

.card-2 {
  grid-area: 1 / 5 / 2 / span 2;
}

.card-3 {
  grid-area: 2 / 1 / span 1 / span 2;
}

.card-4 {
  grid-area: 2 / 3 / span 1 / span 2;
}

.card-5 {
  grid-area: 2 / 5 / span 1 / span 2;
}

.card-6 {
  grid-area: 3 / 1 / span 1 / span 1;
}

.card-7 {
  grid-area: 3 / 2 / span 1 / span 4;
}

.card-8 {
  grid-area: 3 / 6 / span 1 / span 1;
}

/* Destination Guides */

#guides {
  position: relative;
  font-family: "Edu NSW ACT Cursive", cursive;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(0deg, transparent 0%, whitesmoke 99%),
    url(assets/images/mountains-hero-banner-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
  margin-top: 10px;
}

#guide-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.guide-card {
  height: 350px;
  width: 350px;
  text-align: center;
  border: solid black 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.guide-img {
  width: 100%;
  min-height: 100%;
  object-position: center;
  object-fit: cover;
}

.guide-location {
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: 10px;
  z-index: 1;
  text-align: center;
  min-width: fit-content;
  max-width: 350px;
}

.guide-location h3 {
  color: whitesmoke;
  text-shadow: 1px 1px 1px black ;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 1;
  text-align: inherit;
  max-width: 100%;
}

/* Trip Planning Tips */

#trip-tips {
  background-image: url(assets/images/beach-sunrise-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 97vw;
  position: absolute;
  margin-left: -3px;
  padding: 20px;
  height: 400px;
  text-align: center;
  font-family: "Chewy", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
}
