body{
    background-repeat: no-repeat;
    background-position: top;
    font-family: "Edu NSW ACT Cursive", cursive;
    background-color: whitesmoke;
}

.layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#blogpost-hero {
    text-align: center;
    margin: 100px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
}

#blogpost-content {
    max-width: 80%;
    margin: auto;
    height: fit-content;
    text-align: center;
}

#image-carousel {
    max-width: 80%;
    max-height: 80vh;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
    transition: height 0.5s ease;
    
}

.carousel-inner {
    height: 80vh;
}

.carousel-item {
    height: 100%;
}

.carousel-image {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease;
    margin: 0 auto;
}