body{
    background-image: linear-gradient(180deg, transparent 20%, whitesmoke 45%), url(/images/east-coast-aus-display.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

#blogpost-hero {
    text-align: center;
    margin: 100px;
    font-family: "Edu NSW ACT Cursive", cursive;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
}

#blogpost-content {
    max-width: 80%;
    height: 1000px
}
