body{
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: top;
}

#blogpost-hero {
    text-align: center;
    margin: 100px;
    font-family: "Edu NSW ACT Cursive", cursive;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
}

#blogpost-content {
    max-width: 80%;
    height: auto;
    margin: auto;
}
