:root {
  --ORANGE: rgb(216, 136, 74);
  --WHITESMOKE: rgb(245, 245, 245);
}

/* Universal Styles */

/* NAVBAR */

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon,
.btn-close {
  filter: invert(1);
}

.offcanvas{
  color: var(--WHITESMOKE);
  background: transparent;
  backdrop-filter: blur(10px);
}


.nav-link {
  color: whitesmoke;
  font-weight: 500;
  width: 100%;
}

.nav-link:hover {
  color: var(--ORANGE);
}

/* Small Screens (<30em)*/

/* Medium Screens (30<48em)*/
@media (min-width: 30em) {
}

/* Large Screens (48<80em)*/
@media (min-width: 48em) {
}

/* Extra Large Screens (>80em)*/
@media (min-width: 80em) {
}

/* Universal Styles */
* {
  font-family: "Edu NSW ACT Cursive", cursive;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

#hero,
#guide-container,
header,
footer {
  display: flex;
}

#destination-guides,
.guide-card,
.guide-img,
.guide-card h3 {
  width: 100%;
}

#trip-tips,
body {
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  justify-content: center;
}

#destination-guides,
#trip-tips {
  text-align: center;
}

#guide-container,
footer {
  align-items: center;
}

#trip-tips,
header,
footer {
  width: 100vw;
}


p {
  font-weight: 600;
}

body {
  background-color: whitesmoke;
  background-image: linear-gradient(180deg, transparent 0%, whitesmoke 99%),
    url(/images/website-images/mountains-hero-banner-large.png);
  background-position: top;
  background-size: auto 1200px;
}


#title-image {
  width: 50vw;
}

main {
  margin: 15px auto 0 auto;
}

p {
  padding-top: 0;
  margin-top: 0;
}

#hero {
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(1px);
  border-radius: 5px;
}

header {
  flex-direction: column;
  margin: -7.5px;
  height: fit-content;
}

#title-image {
  height: auto;
  margin: 0 auto 0 auto;
}

#trip-tips {
  background-image: url(/images/travel-tips/beach-sunrise-1.png);
  background-position: center;
  padding-top: 20px;
  height: 400px;
  font-family: "Chewy", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: xx-large;
}

#trip-tips h2 {
  margin-bottom: 0;
}

#trip-tips p {
  padding: 0;
}

#trip-tips-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 150px;
  padding: 20px;
  background-color: rgb(245, 245, 245, 0.5);
  border: 2px solid rgb(31, 36, 39);
  border-radius: 5px;
  box-shadow: 2px 2px black;
}

#trip-tips-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

/* Destination Guides */

#destination-guides {
  position: relative;
  padding-bottom: 50px;
  margin-top: 10px;
}

#guides h1 {
  font-size: xxx-large;
}

#guide-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.guide-card {
  max-width: 350px;
  height: 350px;
  max-height: 350px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: solid black 5px;
}

.guide-card:hover {
  border: solid black 10px;
  cursor: pointer;
}

.guide-img {
  min-height: 100%;
  object-position: center;
  object-fit: cover;
}

.guide-card h3 {
  position: absolute;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  padding-top: 25px;
}
/* Footer */

footer {
  min-height: 75px;
  background-color: black;
  color: white;
  font-size: large;
  margin-bottom: 0;
}
