/* Universal Styles */

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  min-width: 100vw;
  background-color: whitesmoke;
  background-image: linear-gradient(180deg, transparent 0%, whitesmoke 99%),
    url(/images/mountains-hero-banner-large.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 1200px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav button {
  padding: 10px;
  margin: auto;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 600;
  width: 100%;
  border-top: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 5px black solid;
  background: transparent;
  backdrop-filter: blur(5px);
}

a {
  width: 25%;
}

main {
  margin: 15px auto;
}

p {
  padding-top: 0;
  margin-top: 0;
  font-weight: 600;
}

/* ================== */
/* Trip Planning Tips */
/* ================== */

#trip-tips {
  background-image: url(/images/beach-sunrise-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  padding-top: 20px;
  height: 400px;
  text-align: center;
  font-family: "Chewy", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
}

#trip-tips h2 {
  margin-bottom: 0;
}

#trip-tips p {
  padding: 0;
}

#trip-tips-btn {
  padding: 10px;
}

/* ====== */
/* Footer */
/* ====== */

footer {
}
