<%- include("../partials/header") %>

<section id="blogpost-hero">
  <h1>East Coast Australia: A Journey Up the Sunburnt Coast</h1>
    <p class="blogpost-date">October 2023</p>
    </section>
<section id="blogpost-content">

</section>

</section>
<%- include("../partials/plan-tips-banner") %>
<%- include("../partials/footer") %>