
<%- include("../partials/header") %>

    <main>  
      <section id="hero">
        <div>
          <h2>Welcome to the place that fuels your wanderlust!</h2>
          <p>
            If you've got a case of insatiable wanderlust, a thirst for
            adventure, or just need a little nudge to plan that dream getaway,
            you're in the right place. From breathtaking landscapes to bustling
            city-scapes, I've journeyed across the globe and packed all my
            tales, tips, and destination guides right here. Let's explore the
            world together - one incredible trip at a time!
          </p>
        </div>
      </section>

      <section id="articles">
        <div class="blog-post-container">
          <div class="blog-card card-1">
            <div class="article-title">
              <p>East Coast Australia</p>
              <h3>A Journey Up the Sunburnt Coast</h3>
            </div>
            <img src="/images/east-coast-aus-display.png" alt="" />
          </div>
          <div class="blog-card card-2">
            <div class="article-title">
              <p>Austria</p>
              <h3>Alpine Adventures</h3>
            </div>
            <img src="/images/austria-article-banner.png" alt="" />
          </div>
          <div class="blog-card card-3">
            <div class="article-title">
              <p>The Himalayas</p>
              <h3>On top of the World</h3>
            </div>
            <img src="/images/himalayas-article-banner.png" alt="" />
          </div>
          <div class="blog-card card-4">
            <div class="article-title">
              <p>Norway</p>
              <h3>Chasing the Northern Lights</h3>
            </div>
            <img src="/images/norway-article-banner.png" alt="" />
          </div>
          <div class="blog-card card-5">
            <div class="article-title">
              <p>Peru</p>
              <h3>Ancient Secrets and Landscapes</h3>
            </div>
            <img src="/images/peru-article-banner.png" alt="" />
          </div>
          <div class="blog-card card-6">
            <div class="article-title">
              <p>Canada</p>
              <h3>The Wild and Wander of the Great White North</h3>
            </div>
            <img src="/images/canada-article-banner.png" alt="" />
          </div>
          <div class="blog-card card-7">
            <div class="article-title">
              <p>Argentina</p>
              <h3>The Soul of South America</h3>
            </div>
            <img src="/images/argentina-article-banner.png" alt="" />
          </div>
          <div class="blog-card card-8">
            <div class="article-title">
              <h3>All Articles</h3>
            </div>
            <img src="/images/van-life-wanderlust.png" alt="" />
          </div>
        </div>
      </section>

      <section id="destination-guides">
        <h2>Destination Guides:</h2>
        <div id="guide-container">
          <div class="guide-card">
            <h3 class="guide-location">Europe</h3>
            <img
              src="/images/europe-guide-cover.png"
              alt=""
              class="guide-img"
            />
          </div>
          <div class="guide-card">
            <h3 class="guide-location">The Americas</h3>
            <img
              src="/images/americas-guide-cover.png"
              alt=""
              class="guide-img"
            />
          </div>
          <div class="guide-card">
              <h3 class="guide-location">
                Australia &
                New Zealand
              </h3>
            <img
              src="/images/aus-guide-cover.png"
              alt=""
              class="guide-img"
            />
          </div>
        </div>
      </section>

      <%- include("../partials/plan-tips-banner") %>
      <%- include("../partials/footer") %>
